
    /* Стиль окна поиска */
    #MyScript{
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}

/* Стиль меню навигации */
#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    /* Стиль навигационных ссылок */
    #myMenu li a {
        padding: 12px;
        text-decoration: none;
        color: black;
        display: block
    }

        #myMenu li a:hover {
            background-color: #eee;
        }

