@model GunShop.Models.IndexPageViewModel

@{
    ViewBag.Title = "GunPage";
}

<h2>GunPage</h2>
<h1>@Model._Gun.Type</h1>
<h1>@Model._Gun.Price  $</h1>
@using (Html.BeginForm("BuyGun", "Gun"))
{
    <input type="hidden" value="@Model._Gun.Id" name="GunID" id="GunID" />
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="FirstName" id="FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="LastName" id="LastName" /></td>
        </tr>
    </table>
    <input type="submit" value="submit" />
}


