@model GunShop.Models.IndexPageViewModel

<h2>Gun @Model._Gun.Type</h2>

<h4>Price:</h4>
@foreach (var pc in Model.PriceComponents)
{
    <span>@pc.Name:@pc.Value$</span>
    <br />
}
<h5>Total Price: @Model.PriceComponents.Select(x => x.Value).Sum()$ </h5>
@Html.ActionLink("Return", "BuyGun")