@model GunShop.Models.IndexPageViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Available guns</h2>
@foreach (var gun in Model.Guns)
{
    <h>@gun.Value.Type </h>
    @Html.ActionLink("Buy", "GunPage", new { id = gun.Value.Id })
    <br />
}






